.timer {
    font-weight: bold;
    font-size: 35px;
    text-align: left;
}
h1 {
    text-align: left;
}
.timerButtons {
    width: 65px;
    height: 33px;
    margin: 0 7px;
}
.buttonsBlock {
    text-align: left;
}
.backButton {
    width: 65px;
    height: 38px;
}